<div class="container text-center">
    <div class="jumbotron">
      <h1 class="display-4">GovernmentSystem</h1>
      <p class="lead">Front-end for the 'Rekeningrijden' application to be used by government employees.</p>
      <hr class="my-4">
  
      <div class="row">
        <div class="col">
          <a [routerLink]="['/user']" class="btn btn-primary">Users</a>
        </div>
        <div class="col">
          <a [routerLink]="['/vehicle']" class="btn btn-primary">Vehicles</a>
        </div>
        <div class="col">
          <a [routerLink]="['/cartracker']" class="btn btn-primary">Cartrackers</a>
        </div>
      </div>
    </div>
</div>