<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"> Name
        </th>
        <th scope="col"> Address
        </th>
        <th scope="col"> Residence
        </th>
        <th scope="col"> Email
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" (click)="goToUser(user.id)">
        <td>{{user.name}}</td>
        <td>{{user.address}}</td>
        <td>{{user.residence}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
  </table>
</div>