#map {
  height: 600px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}

.hidden{
  display: none;
}

td:hover{
  cursor: pointer;
}

.select{
  background-color: lightblue;
}

.deleted > td {
  color: lightgrey;
}

.deleted {
  background-color: unset !important;
}