<html>

<body>

  <div class="container">
    <div *ngIf="error" class="alert alert-danger" role="alert">
      The operation wasn't succesful
    </div>
    <div *ngIf="success" class="alert alert-success" role="alert">
      The operation was completed succesfully
    </div>

    <br />
    <h1>Tax regions:</h1>
    <br />

    <div class="row">
      <div class="col">
        <h3>Existing regions</h3>
        <table class="table" style="width: 100%">
          <thead>
            <tr>
              <th style="text-align: center">#</th>
              <th style="text-align: center">Editting</th>
              <th>Top left</th>
              <th>Bottom right</th>
              <th>Cost</th>
              <th style="text-align: center">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let region of regions; let i = index" (click)="editRegion(region)"
              [ngClass]="{'select':region === selectedRegion, 'deleted': region.deleted}">
              <td style="text-align: center">{{i + 1}}</td>
              <td style="text-align: center">
                <div class="row">
                  <div class="col s3"></div>
                  <div class="col s6" style="border-radius: 10%; height: 25px;"
                    [ngStyle]="{'background-color': region.color}">
                    <i *ngIf="selectedRegion === region" class="fas fa-edit" aria-hidden="true"
                      style="color: white"></i>
                  </div>
                  <div class="col s3"></div>
                </div>
              </td>
              <td>
                {{region.topLeftLat.toString().substring(0, 6) + "/" + region.topLeftLong.toString().substring(0, 6)}}
              </td>
              <td>
                {{region.bottomRightLat.toString().substring(0, 6) + "/" + region.bottomRightLong.toString().substring(0, 6)}}
              </td>
              <td>&euro;{{region.taxRate | number : '1.2-2'}}</td>
              <td style="text-align: center">
                <button class="btn btn-sm btn-danger" style="min-width: 35px; margin-top: -3px" type="button"
                  (click)="onDeleteClick($event, region)">
                  <i *ngIf="region.deleted" class="fas fa-redo" aria-hidden="true"></i>
                  <i *ngIf="!region.deleted" class="fas fa-trash-alt" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="row" style="text-align: center; margin-top: 20px">
          <div class="col">
            <button id="submitButton" type="button" class="btn btn-sm btn-secondary" (click)="addRegion()">Add new
              region</button>
          </div>
          <div class="col">
              <button id="saveButton" type="button" class="btn btn-sm btn-success" (click)="saveRegions()">Save regions</button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="div" *ngIf="selectedRegion">
          <h3>Editting region {{selectedRegionIndex + 1}}:</h3>
          <table class="table" style="width: 100%">
            <thead>
              <tr>
                <th>Tax cost <small>(&euro;/km)</small></th>
                <th>Top left</th>
                <th>Bottom right</th>
              </tr>
            </thead>
            <tbody>
              <td>
                <div class="form-group">
                  <input class="form-control" style="height: 25px;" type="number" name="taxCost" id="taxCost"
                    [(ngModel)]="selectedRegion.taxRate" min="0" step="0.01">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input class="form-control" style="height: 25px;" type="text" name="topLeft" id="topLeft"
                    [ngModel]="Region.getTopLeftString(selectedRegion)" disabled>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input class="form-control" style="height: 25px;" type="text" name="bottomRight" id="bottomRight"
                    [ngModel]="Region.getBottomRightString(selectedRegion)" disabled>
                </div>
              </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div id="map"></div>
</body>

</html>