<div class="container">
    <br/>
    <h1>Insert a new cartracker</h1>
    <div *ngIf="error" class="alert alert-danger" role="alert">
      The operation wasn't succesful
    </div>
    <div *ngIf="success" class="alert alert-success" role="alert">
      The operation was completed succesfully
    </div>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
      </div>

      <button type="submit" class="btn btn-success" style="width:100%">Insert</button>

    </form>

</div>
